@{
    ViewData["Title"] = "Requires Scope";
}
<h1>@ViewData["Title"]</h1>

<p>This page is only accessible to <b>Authenticated Users</b> with the <b>profile</b> scope.</p>

<div>
    <a href="/">&lt; Home</a> | 
    <a href="/Home/Logout">Sign Out</a>
</div> 