@{
    ViewData["Title"] = "Requires Admin";
}
<h1>@ViewData["Title"]</h1>

<p>This page is only accessible to <b>Admin</b> Users.</p>

<div>
    <a href="/">&lt; Home</a> | 
    <a href="/Home/Logout">Sign Out</a>
</div> 