@{
    ViewData["Title"] = "Requires Auth";
}
<h1>@ViewData["Title"]</h1>

<p>This page is only accessible to <b>Authenticated Users</b>.</p>

<div>
    <a href="/">&lt; Home</a> | 
    <a href="/Home/Logout">Sign Out</a>
</div> 